
<%= render 'navbar', word: @word %>

<div class = "container justify-start" style="align-items:center;">
        <h3 style = "margin-bottom: 25px;">Agregar palabra</h3>
        <%= render 'form', word: @word %>

        <%= link_to 'Regresar', words_path %>
</div>
